<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/styles.css">
    <script type="module" src="scripts/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <img class="logo" src="assets/logo/logo.png" alt="">
    </header>

    <section class="presentation">
        <h2 class="presentation__rubrik">Om oss</h2>
        <img class="presentation__img" src="assets/images/dumpling.png" alt="">
        <div class="presentation__brödtext--bakgrundsfärg">
            <p class="presentation__brödtext"><span class="presentation__brödtext--fet">Allt började med en
                    dumpling</span> i september 2023.
                Vi bestämde oss för att starta upp vårt familjeföretag
                och började tillaga farfars recept. Sedan dess har vi utökat
                vår meny med de allra bästa recepten från olika delar av världen.
                Vi använder bara ingredienser av högsta kvalitet
                för att du ska få den bästa möjliga smakupplevelsen.
                Vi vill dela vår kärlek till mat med alla våra kunder.</p>

            <p class="presentation__brödtext"><span class="presentation__brödtext--fet">Våra foodtrucks</span> finns nu
                i hela Sverige,
                så att vår mat alltid finns i närheten av dig.
                Låt vår mat förändra ditt liv - en tugga i taget!</p>
        </div>
    </section>

</body>

</html>