* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.order-heading {
    background: #DF4A4A;
    border-radius: 20px 100px 20px 100px;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
}

.order-heading h1 {
    color: white;
    font-family: 'Bagel Fat One';
    font-size: 25px;
    text-transform: uppercase;
}


.order-bg {
    background-color: #D7C7B8;
    border-radius: 20px 60px 20px 20px;
    position: relative;
    margin: 1rem;
    color:white;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-container {
    background: white;
    padding: 20px;
    border-radius: 15px;
    margin: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem; /*OBS! rem*/
}

.cart-sub-menu {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    padding: 20px;
    font-family: 'roboto';
    color: white;
    font-size: 24px;
}

.cart-sub-menu a {
    text-decoration: none;
    color: white;
}

.cart-sub-menu a:hover {
    text-decoration: underline;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    font-family: 'Roboto';
}

.cart-item h3 {
    color: #575757;
    text-transform: uppercase;
}

.to-pay {
    display: flex;
    justify-content: space-between;
}

.item-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}


.item-price {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    margin-left: 10px;
    margin-top: 0;
}


.cart-total {
    text-align: right;
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}

.item-quantity {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 5px;
}

.item-quantity span {
    font-size: 16px;
    font-weight: bold;
    min-width: 25px;
    text-align: center;
}

.item-info h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.item-price {
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 0;
}

/* Totalpris */
.cart-total {
    text-align: right;
    margin-top: 20px;
}

.cart-total p {
    font-size: 14px;
    color: #666;
}

.cart-total h2 {
    font-size: 22px;
    margin-top: 5px;
}

.order-information__receipt {
    font-family: "Roboto";
    margin-bottom: 0.5rem;
}

.order-information__payment {
    font-family: "roboto";
    color: black;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    display: flex;
}

.order-confirmation {
    padding: 1rem 3rem;
    margin: 1rem;
    max-width: 100%; 
    font-family: "Roboto";
    background-color: #49938F;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-confirmation h2{
    font-weight: 400;
}

.order-confirmation__ETA {
    margin-top: 0.5rem;
    display: flex;
}

.order-confirmation__ETA h3 {
    font-weight: 500;
}

.order-confirmation__number {
    margin-top: 1.7rem;
    white-space: nowrap;
}

.order-confirmation__number span {
    font-weight: 700;
}

.fa-clock {
    margin-right: 5px;
    color: #ffffff;
}

.fa-circle-info {
    color: black;
    margin-right: 0.3rem;
}

/* Buttons */
.buttons a {
    text-decoration: none;
    display: block;
}

.buttons a button {
    appearance: none;
    border: none;
    padding: 12px;
    font-family: 'Ubuntu Mono';   
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.buttons a button .fa-solid {
    font-size: 1rem;
    color: white;
    margin-right: 8px;
}

.location-btn {
    background: #DF4A4A;
    color: white;
    width: 350px
}
